Movie recomendation system usiing collaberate filltering
part 1: Implementing recomendation model(item to item)
    
    1.Nur Hossain Memel
        CSE1802014009
    2.Abdullah Al Noman
        CSE1802014044
    3.Md.Nazmil Islam Shanto
        CSE1802014056

In [2]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
ratings = pd.read_csv("toy_dataset.csv",index_col=0)
ratings = ratings.fillna(0)
ratings

       action1,  action2  action3  romantic1  romantic2  romantic3
user1         1        4      5.0        4.0        1.0          2
user2         2        5      3.0        3.0        3.0          1
user3         3        1      0.0        3.0        5.0          5
user4         4        2      1.0        0.0        3.0          5
user5         5        1      2.0        5.0        0.0          3

In [5]:
def standardize(row):
    new_row = (row - row.mean())/(row.max()-row.min())
    return new_row

ratings_std = ratings.apply(standardize)

##Recomendation model(item to item calculating angular distance)meanvalue=2
item_similarity = cosine_similarity(ratings_std.T)
print(item_similarity)

[[ 1.00000000e+00 -7.83349452e-01 -6.57595949e-01 -8.45154255e-02
  -1.62221421e-01  5.30330086e-01]
 [-7.83349452e-01  1.00000000e+00  7.44072949e-01 -4.46370308e-17
  -8.47173742e-02 -8.15481128e-01]
 [-6.57595949e-01  7.44072949e-01  1.00000000e+00  4.16827511e-01
  -6.26722378e-01 -8.13733471e-01]
 [-8.45154255e-02 -4.46370308e-17  4.16827511e-01  1.00000000e+00
  -5.48408497e-01 -5.22912517e-01]
 [-1.62221421e-01 -8.47173742e-02 -6.26722378e-01 -5.48408497e-01
   1.00000000e+00  4.73169951e-01]
 [ 5.30330086e-01 -8.15481128e-01 -8.13733471e-01 -5.22912517e-01
   4.73169951e-01  1.00000000e+00]]

In [6]:
item_similarity_df = pd.DataFrame(item_similarity,index=ratings.columns,columns=ratings.columns)
item_similarity_df

,"action1,",action2,action3,romantic1,romantic2,romantic3
"action1,",1.000000,-7.833495e-01,-0.657596,-8.451543e-02,-0.162221,0.530330
action2,-0.783349,1.000000e+00,0.744073,-4.463703e-17,-0.084717,-0.815481
action3,-0.657596,7.440729e-01,1.000000,4.168275e-01,-0.626722,-0.813733
romantic1,-0.084515,-4.463703e-17,0.416828,1.000000e+00,-0.548408,-0.522913
romantic2,-0.162221,-8.471737e-02,-0.626722,-5.484085e-01,1.000000,0.473170
romantic3,0.530330,-8.154811e-01,-0.813733,-5.229125e-01,0.473170,1.000000

In [7]:
##making recomendation

def get_similar_movies(movie_name,user_rating):
    similar_score = item_similarity_df[movie_name]*(user_rating-2.5)
    similar_score = similar_score.sort_values(ascending=False)
    
    return similar_score

print(get_similar_movies("romantic3",1))

action2      1.223222
action3      1.220600
romantic1    0.784369
romantic2   -0.709755
action1,    -0.795495
romantic3   -1.500000
Name: romantic3, dtype: float64

In [8]:
#test

action_lover = [("action1,",5),("romantic2",1),("romantic3",1)]

similar_movies = pd.DataFrame()

for movie,rating in action_lover:
    similar_movies = similar_movies.append(get_similar_movies(movie,rating),ignore_index=True)
    
similar_movies.head()

similar_movies.sum().sort_values(ascending=False)

action1,     1.947837
romantic1    1.395693
action3      0.516694
action2     -0.608076
romantic3   -0.883930
romantic2   -2.615308
dtype: float64